/*HW3 CSS*/

body {
    background-color: darkgrey;
    width: 80%;
    margin: auto;
   

}

a:link{
    color: darkred;
}

a:active{
    color: aqua;
}

a:hover{
    color: white;

}

a:visited{
    color: blue;
}

/*IDs*/
#page{
    width: 90%;
    margin: auto;
}

#header {
    width: 100%;
    height: inherit;
    background-color: aqua;
}

#nav {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    text-align: left;
    font-family: Arial;
    font-size: 12px;
    color: red;
    padding: 5px;
    position: center;
}

#top{
    width: 90%;

}

#hbanner {
    width: 90%;
    margin: auto;
    position: center;
}

#background {
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 20px;
    color: navy;
    font-size: medium;
    float: left;
    width: 15%;
    height: 650px;
    padding: 10px;
    
}

#dfos_vector {
    border-radius: 360px;
    width: 80%;
    position: center;
}

#ambitions {
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    text-align: justify;
    color: navy;
    font-size: medium;
    float: right;
    width: 15%;
    height: 650px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#class {
    background-color: gainsboro;
    border-radius: 10px;
    text-align: center;
    text-align: justify;
    color: navy;
    font-size: medium;
    float: left;
    width: 60%;
    height: 650px;
    padding: 10px;
    margin-bottom: 20px;
}

#contact {
    margin: auto;
    text-align: right;
    text-align: justify;
    color: navy;
    font-size: medium;
    clear: both;
    width: 40%;
    margin-bottom: 10px;
    position: center;
}

#table{
    width: 60%;
}

#form {
    width: 100%;
}

/*Class*/
.top {
}
